version: 2
updates:
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "@types/mocha"
      - dependency-name: "@types/node"
      - dependency-name: '@types/react'
      - dependency-name: 'react'
      - dependency-name: '@types/react-dom'
      - dependency-name: 'react-dom'
      - dependency-name: 'react-test-renderer'
      - dependency-name: 'react-native'      
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      # Check for updates to GitHub Actions every weekday
      interval: "daily"
